@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  background-color: #314e52;
}

.container {
  background-color: #e7e6e1;
  width: 400px;
  max-width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.header {
  padding: 20px;
  text-align: center;
}

.form {
  padding: 20px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  display: inline-block;
  margin-bottom: 5px;
}

.form-control input {
  font-family: inherit;
  border: 2px solid #f0f0f0;
  display: block;
  border-radius: 4px;
  font-size: 14px;
  padding: 10px;
  width: 100%;
  outline: none;
}

.form-control i {
  position: absolute;
  top: 40px;
  right: 10px;
  visibility: hidden;
}

.form-control small {
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form button {
  background-color: #383e56;
  border: 2px solid #383e56;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  font-family: inherit;
  color: #fff;
  font-size: 16px;
}

.form-control.success input {
  border-color: green;
}

.form-control.error input {
  border-color: red;
}

.form-control.success i.fa-check-circle {
  color: green;
  visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
  color: red;
  visibility: visible;
}

.form-control.error small {
  color: red;
  visibility: visible;
}

.success_message {
  position: absolute;
  top: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e212d;
  color: #fff;
  z-index: 1;
  padding: 20px;
  margin-left: 10px;
  height: 200px;
  border-radius: 5px;
  box-shadow: 4px 4px 2px grey;
  visibility: hidden;
}

.success_message i {
  color: green;
}
